/**
* foglio di stile di prova
*/



html, body {
    height: 100%;
}

body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    background: #FFFEEF;
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
    color: #000000;
}

#contenitore-pacchetto{
	width: 70px;
	margin: 10px;
    font-size: 10pt;
    position
}

#pacchetto-titolo{
    width: 100%;
    margin-top: 1px;
    margin-left: 1px;
    margin-right: 1px;
    text-align: center;
    font-style: bold;
    height: 15px;
}

#pacchetto-descrizione{
    width: 100%;
    margin-top: 1px;
    margin-right: 1px;
    margin-left: 1px;
    text-align: center;
}

